<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wafil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        
        <activity android:name=".Wafil.chefCook.ChefMainActivity"/>
        <activity android:name=".Wafil.chefCook.AdminDashboard"/>
        <activity android:name=".Wafil.chefCook.Admin.AdminDashUsers"/>
        <activity android:name=".Wafil.chefCook.Landing"/>
        <activity android:name=".Wafil.chefCook.Page.Account"/>
        <activity android:name=".Wafil.chefCook.Page.Account_profile"/>
        <activity android:name=".Wafil.chefCook.Page.Beranda"/>
        <activity android:name=".Wafil.chefCook.Page.Order"/>
        
        
        <activity android:name=".Wafil.giziTest.GiziTestMainActivity"></activity>
        <activity android:name=".Wafil.basBangunan.BasBangunanMainActivity" />
        <activity android:name=".Wafil.aMarket.HomeAdmin"/>
        <activity android:name=".Wafil.aMarket.TambahBarang"/>
        <activity android:name=".Wafil.aMarket.KeluarBarang"/>
        <activity android:name=".Wafil.aMarket.LihatBarang"/>
        <activity android:name=".Wafil.aMarket.LoginActivity"/>
        <activity android:name=".Wafil.aMarket.MainActivity"/>
        <activity android:name=".Wafil.aMarket.SMS"/>
        <activity android:name=".Wafil.aMarket.UbahBarang"/>
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBY8gTcaaQ6tuBkCAMHrfAe_rbpcAIdx1U" />

        <activity android:name=".Wafil.wafil.ServiceTypeActivity" />
        <activity android:name=".Wafil.wafil.ProductActivity" />
        <activity android:name=".Wafil.MenuActivity" />
        <activity android:name=".Wafil.giziTest.SignUp"/>
        <activity android:name=".Wafil.giziTest.SignUpGoal"/>
        <activity android:name=".Wafil.giziTest.FragmentActivity"/>

        <activity
            android:name=".Wafil.atorJo.Activity2"
            android:parentActivityName=".Wafil.MenuActivity" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_main" />
        <activity android:name=".Wafil.wafil.CategoryProductActivity" />
        <activity android:name=".Wafil.MainMenuActivity" />
        <activity android:name=".Wafil.LogoutActivity" />
        <activity android:name=".Wafil.wafil.EditProfileActivity" />
        <activity android:name=".Wafil.RegisterActivity" />
        <activity android:name=".Wafil.LoginActivity" />
        <activity android:name=".Wafil.wafil.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        </activity>
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_makeup" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_haircare" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_history" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_selfnail" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_spa" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_payment" />
        <activity android:name=".Wafil.chilyoHouze.Order.ActivityOrder" />
        <activity android:name=".Wafil.chilyoHouze.Payment.ActivityPayment" />
        <activity android:name=".Wafil.chilyoHouze.Main2Activity" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_rating" />
        <activity android:name=".Wafil.chilyoHouze.activity_chilyo_shopping_cart" />
        <activity android:name=".Wafil.chilyoHouze.MainServiceAndProduct.VendorProductDashboard" />
        <activity android:name=".Wafil.chilyoHouze.MainServiceAndProduct.ProductDetail" />
        <activity android:name=".Wafil.print.MapActivity" />
        <activity android:name=".Wafil.print.PlacePickerActivity" />
        <activity android:name=".Wafil.atorJo.bersihRumah" />
        <activity android:name=".Wafil.atorJo.pengemasBarang" />
        <activity android:name=".Wafil.atorJo.bersihKantor" />
        <activity android:name=".Wafil.chilyoHouze.ShoppingCart.ActivityShoppingCart" />
    </application>

</manifest>