<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wafil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Wafil.MenuActivity"></activity>
        <activity android:name=".Wafil.chilyoHouse.activity_chilyo_main" />
        <activity android:name=".Wafil.wafil.CategoryProductActivity" />
        <activity android:name=".Wafil.MainMenuActivity" />
        <activity android:name=".Wafil.LogoutActivity" />
        <activity android:name=".Wafil.wafil.EditProfileActivity" />
        <activity android:name=".Wafil.wafil.HomeActivity" />
        <activity android:name=".Wafil.RegisterActivity" />
        <activity android:name=".Wafil.LoginActivity" />
        <activity android:name=".Wafil.wafil.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        </activity>
        <activity android:name=".Wafil.chilyoHouse.activity_chilyo_makeup" />
        <activity android:name=".Wafil.chilyoHouse.activity_chilyo_payment" />
        <activity android:name=".Wafil.chilyoHouse.activity_chilyo_user" />
        <activity android:name=".Wafil.chilyoHouse.Main2Activity" />
        <activity android:name=".Wafil.chilyoHouse.activity_chilyo_rating" />
        <activity android:name=".Wafil.chilyoHouse.activity_chilyo_shopping_cart" />
        <activity android:name=".Wafil.chilyoHouse.MainServiceAndProduct.VendorProductDashboard" />
        <activity android:name=".Wafil.chilyoHouse.MainServiceAndProduct.ProductDetail" />
    </application>

</manifest>